= link_to "Create New Task", new_task_path, class: "btn btn-primary"
%hr

%table.table.table-striped
  %thead
    %tr
      %td Title
      %td Due At
  %tbody

  - @tasks.each do |task|
    %tr
      %td= link_to(task.title, task)
      %td= task.due_at.strftime("%m/%d/%Y %H:%M")
